# .sqa/config.yml - jenkins-pipeline-library configuration file
#config:
 # project_repos:
 #   phyto-plankton-classification:
   #   repo: 'https://github.com/ai4os-hub/phyto-plankton-classification.git'
   #   branch: tf2.19
   #   dockerhub: ai4oshub/phyto-plankton-classification
    #  dokertag: test
      
sqa_criteria:
  qc_style:
    repos:
      phyto-plankton-classification:
        container: thisrepo-testing
        tox:
          tox_file: tox.ini
          testenv:
            - qc.sty
  qc_coverage:
    repos:
      phyto-plankton-classification:
        container: thisrepo-testing
        tox:
          tox_file: tox.ini
          testenv:
            - qc.cov
  qc_security:
    repos:
      phyto-plankton-classification:
        container: thisrepo-testing
        tox:
          tox_file: tox.ini
          testenv:
            - qc.sec

environment:
  LANG: C.UTF-8
  
  JPL_DOCKERFORCEBUILD: "True"

timeout: 600
